.devices-page-wrapper {
    display: flex;
    gap: 10px;
    padding: 10px;
    height: 100vh;
}

.content-section-devices {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}