.log-reg-container {
    display: flex;
    width: 85%;
    background-color: var(--white-30);
    border-radius: 10px;
    padding: 10px;
    margin: auto;
    align-items: center;
}

.log-reg-wrapper {
    padding: 62px 60px;
    background: var(--white-60);
    height: 100vh;
    display: flex;
    align-items: center;
}