.presets-wrapper {
    display: flex;
    padding-right: 16px;
    height: 100vh;
}

.sidebar-section-presets {
    height: 100%;
    padding: 16px 20px;
}

.content-section-presets {
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 100%;
    padding: 16px 0;
}

.components-section-presets {
    display: flex;
    height: 100%;
}