.profile-wrapper {
    display: flex;
    gap: 10px;
    padding: 10px;
    height: 100vh;
}

.content-section-profile {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.components-section-profile {
    display: flex;
    height: 100%;
}