.profile-wrapper {
    display: flex;
    padding-right: 16px;
    height: 100vh;
}

.sidebar-section-profile {
    height: 100%;
    padding: 16px 20px;
}

.content-section-profile {
    display: flex;
    flex-direction: column;
    padding: 16px 0;
    gap: 16px;
    width: 100%;
}

.components-section-profile {
    display: flex;
    height: 100%;
}