.checkbox-container {
    height: 100%;
  }
  
.checkbox {
    width: 20px;
    height: 20px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s ease;
}
  
.unchecked {
    border: 2px solid var(--black);
    background-color: transparent;
}
  
.checked {
    background-color: var(--blue-10);
    color: white;
}
  
  .checkmark {
    font-size: 20px;
    font-weight: bold;
  }  