.create-device-overlay-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    border-radius: 12px;
    font-family: var(--font);
    background-color: var(--white-30);
    width: 420px;
    height: 390px;
}

.create-device-overlay-title-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 4px 0;
}

.create-device-overlay-title {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.5px;
}

.create-device-overlay-device-name-container {
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: 8px 4px;
}

.create-device-overlay-device-text {
    font-size: 12px;
    letter-spacing: 0.5px;
}

.create-device-overlay-device-category-container, .create-device-overlay-features-category-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 8px 4px;
}

.create-device-overlay-category-text, .create-device-overlay-features-text {
    font-size: 12px;
    letter-spacing: 0.5px;
}

.create-device-overlay-features-button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 4px;
}